html, body, .App
  height: 100%

#root
  height: 100%

.App
  display: flex
  align-items: center
  justify-content: center

body
  font-family: 'RobotoRegular', Arial, sans-serif
  color: #4d4d4d
  
.Calculator
  width: 474 / 1920 * 100%
  padding: 30px 0
  box-shadow: 0 0 16px #d2d2d2
  border-radius: 8px

h1
  font-family: 'RobotoBoldItalic', Arial, sans-serif
  font-size: 1.25rem
  margin-bottom: 30px

.inner_cont
  width: 418 / 474 * 100%
  margin: 0 auto

.output_field
  width: 100%
  background-color: #F3F3F3
  border: none
  font-family: 'RobotoBold'
  color: #4d4d4d
  outline: none
  padding: 20px 25px
  text-align: right
  box-sizing: border-box
  font-size: 2rem
  line-height: 30px
  margin-bottom: 30px

.button_cont
  display: flex
  flex-wrap: wrap
  justify-content: space-between

button
  font-family: 'RobotoBold'
  font-size: 1.875rem
  color: #4d4d4d
  width: 92 / 418 * 100%
  height: 62px
  background-color: #F3F3F3
  border: none
  box-sizing: border-box
  margin-bottom: 15px
  outline: none
  &:hover
    background-color: #efefef

.clear_btn
  width: 100%
  margin-bottom: 0
  margin-top: 10px